@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --primary:var(cyan);
    --secondary:var(pink)
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    min-height: 100vh;
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
nav{
    background: black;
    /* background: #7F00FF;   */
    /* background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);   */
    /* background: linear-gradient(to right, #E100FF, #7F00FF);  */
    border: 2px solid black;    
    color: #fff;
    padding: 1rem 0;
    
}
.container{
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}
section .input{
    padding-top: 100px;
}
h2{
    text-align: center;
    font-size: 36px;
}
.form_wrap{
    display: flex;
    justify-content: center;
}
.input_wrap{
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-top: 20px;
}
input{
    border: none;
    padding: 10px;
    font-size: 16px;
    min-width: 400px;
    outline: none;
    /* max-width: 40%; */
}
button{
    background: #c471ed;
    outline: none;
    border: none;
    color: white;
    height: 100%;
    padding: 8px 14px;;
    font-size: 14px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    transition:  all ease-in-out;
}
section.data{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.loading{
     display: none;
}
section.data p.def{
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.6;
}
.suggested{
    background: #A5FECB;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-family: sans-serif;
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}
.bac{
    background: #A5FECB;

}
